{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Heading -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="{% static 'PowerStore/img/principal.jpg'%}"
        alt=""
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Puntuality</span>
          <span class="section-heading-lower">Always with stock</span>
        </h2>
        <p class="mb-3">
          In your home door in less than 48hs with normal shipment. In less than
          24hs with express shipment.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Message -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Total compromise</span>
            <span class="section-heading-lower">Guaranteed</span>
          </h2>
          <p class="mb-0">
            With more than 75 years of experience backing us up, in PowerStore
            we have the knowledge and tools needed to achieve any delivery at
            your door's home with professionalism and puntuality.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
